* {
    box-sizing: border-box;
    /* padding: 0%; */
    /* margin: 0%; */
    /* opacity: 0; */
}

body {
    /* background-color: burlywood; */
    width: center;
    height: auto;
    background-image: url("../images/Great-Outdoors.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    -webkit-background-size: cover;
}

.header {
    /* width: 100%; */
    padding: 1px;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    /* background-color: rgb(134, 224, 240); */
    color: white;
    /* background-attachment: fixed; */
    list-style-type: none;
    color: white;
    margin: auto;
}

.header h1 {

    display: inline-block;
    font-size: 40px;
    text-decoration-color: white;
    background-color: rgb(134, 224, 240);
    text-decoration: underline;
    text-align: center;
}

.header h1 .Rippee {
    color: white;
}

.header nav ul li {
    padding: 1vw;
    display: inline-block;
    margin-left: auto;
}

.header button {
    margin-top: auto;
    margin-bottom: auto;
    padding: 10px;
    border: transparent;
    background-color: transparent;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    font-size: 20px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

/* body {
    background-color: rgb(236, 4, 93); 
    background-size: 100%; 
    
} */



.username {
    color: blue;
    text-decoration: underline;
}

nav {
    text-align: right;
    margin-left: 10px;
}

.nav-bar {
    text-align: right;
    float: right;
    display: inline-flex;
    width: 40%;
    list-style: none;
    text-decoration: none;
    list-style-type: none;
}

.projects p {
    margin-right: 10px;
    
}

/*This is for buttons.*/
button {
    background-color: transparent;
    border: none;
    color: rgb(134, 224, 240);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-style: italic;
}

main {
    /* text-decoration: underline; */
    text-align: center;
    font-size: 120%;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
}

section {
    flex: 1 0 80%;
    margin-bottom: 10%;
    width: 85%;
}

/* section img {
     opacity: 90%;
} */

.projects {
    /* width: 85%;
    display: inline-block;
    margin-left: 25px; */
    /* position: center; */
    /* background-color: burlywood; */
    height: 500px; /* Used to enable scrolling */
    background: linear-gradient(55deg, #0fb8ad 00%, #ff66d9 51%, #0fb8ad 85%);
}

.projects-area {
    /* text-decoration: underline; */
    text-align: center;
    /* background: burlywood; */
    /* width: 85%; */
    /* position: center; */
    /* top: 50px; */
    /* height: 85%;
    background-position: center center; */
    background: linear-gradient(55deg, #0fb8ad 00%, #ff66d9 51%, #0fb8ad 85%);
    
}

.projects h2 {
    text-decoration: underline;
    /* margin-left: 25%;
    font-family: 'Arial', 'Helvetica', 'sans-serif';
    letter-spacing: 5%;
    top: 250px;
    background: white;
    background-position: center;
    height: 100%; */
}

.banner-area {
    /* background-color: burlywood; */
    background: linear-gradient(55deg, #0fb8ad 00%, #ff66d9 51%, #0fb8ad 85%);
    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
}

.banner-area h2 {
    /* background-color: burlywood; */
    text-decoration: underline;
    background: linear-gradient(55deg, #0fb8ad 00%, #ff66d9 51%, #0fb8ad 85%);
    @-webkit-keyframes Gradient {
        0% {
            background-position: 0% 50%
        }
        50% {
            background-position: 100% 50%
        }
        100% {
            background-position: 0% 50%
        }
}

.banner-area p {
    text-decoration: underline;
}

/* .projects p {
    text-decoration: none;
} */

/* #About Me {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.Resume {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.Hobbies {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.Projects {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}*/




.footer {
    background-color: transparent;
    color: rgb(236, 4, 93);
    display: inline-flexbox;
    /* padding: 0px; */
    /* clear: both; */
    /* font-family: 'Arial', 'Helvetica', 'sans-serif'; */
     text-align: center;
}

}

.media ul button a {
    position: absolute;
    transform: translate(-53%, -50%)
    bottom: 50%
}

.footer ul button a {
    list-style: none;
    margin: 10px 30px;
    display: inline-block;
    font-style: 20px;
    padding: 20px 20px;
    color: rgb(hotpink, skyblue, black);
    border: 1px solid hotpink;
    border-radius: 50%;
    transition: .5s;
}

/* .media ul button a {
    color: #292929;
    border: 1px solid #292929;
    transition: .5s;
} */

/* .fa-facebook:hover {
    background-image: url(assets\images\FaceBook.png);
    background: #3B5998;
    color: black;
    opacity: 0.7;
} */

/* .fa-twitter:hover {
    background: #55acee;
    color: black;
} */

/* .fa-instagram:hover {
    background: #125688;
    color: black;
    opacity: 0.7;
} */


.fa-linkedin:hover {
    background: #007bb5;
    color: black;
    opacity: 0.7;
}

/* .fa-youtube:hover {
    background: #bb0000;
    color: black;
    opacity: 0.7;
} */

.fa-github:hover {
    background: #292929;
    color: black;
    opacity: 0.7;
}

.footer p {
    text-decoration: underline;
}

.footer p button {
    background-color: transparent;
    border: none;
}

h3 {
    text-decoration: underline;
}

p {
    text-decoration: none;
}

p1 {
    text-decoration: underline;
}



